<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <script src="https://unpkg.com/htmx.org@2.0.4"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Geist+Mono:wght@100..900&display=swap" rel="stylesheet">
    <style>
        * {
            font-family: "Geist Mono", serif;
        }
    </style>
</head>

<body>
    <div style="width: 100vw; height: 100vh; display: flex; align-items: center; flex-direction: column;">
        <h1>Reading List</h1>

        <nav>
            <ul
                style="list-style: none; display: flex; flex-direction: row; flex-wrap: wrap; align-items: center; justify-content: space-around; gap: 1rem;">
                <li>
                    <a href="/">Home</a>
                </li>
                <li>
                    <a href="#" hx-get="/newReadingForm" hx-target="#readingForm">Add</a>
                </li>
            </ul>
        </nav>

        <div id="readingForm"></div>
        <div id="readingList" hx-get="/readings" hx-trigger="load" hx-swap="innerHTML"></div>
    </div>
</body>

</html>