{{define "readingList"}}
<ul>
    {{range .}}
    <li>
        <span>{{.Title}}</span> | <span>{{.Description}}</span> | <span><a href="{{.Url}}"
                target="_blank">{{.Url}}</a></span>
        [<a href="#" hx-get="/getReadingUpdateForm/{{.Id}}" hx-target="#readingForm" hx-swap="innerHTML">Edit</a>] |
        <a href="#" hx-delete="/readings/{{.Id}}/delete" hx-confirm="Are you sure you want to Delete this from your reading list?"
            hx-target="#readingList">[Delete]</a>
    </li>
    {{end}}
</ul>
{{end}}