{{define "readingList"}}
<ol>
    {{range .}}
    <li class="reading-list">
        <span><b>{{.Title}}</b></span> | <span>{{.Description}}</span> | <span><a href="{{.Url}}"
                target="_blank">{{.Url}}</a></span> | <span>{{.Type}}</span> | <span>{{.Source}}</span> |
        [<a href="#" hx-get="/getReadingUpdateForm/{{.Id}}" hx-target="#readingForm" hx-swap="innerHTML">Edit</a>] |
        <a href="#" hx-delete="/readings/{{.Id}}/delete"
            hx-confirm="Are you sure you want to Delete this from your reading list?"
            hx-target="#readingList">[Delete]</a>
    </li>
    {{end}}
</ol>
{{end}}